[core]
	editor = vim
[user]
	name = Byron Seto
	email = byron.seto@calgaryscientific.com
[push]
	default = matching
[credential]
	helper = cache --timeout 3600
[alias]
	tree = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --graph --all


